body
{
	width: 600px;
	text-align: justify;
	background-color: #DEDEDE;
}

pre
{
	background-color: #FFFFFF;
	border: 2px dotted black;
}

div.theca
{
	margin: 50px auto;
}

img.chicken
{
	margin: 10px 30px;
}

.required
{
	color: red;
}

h4.method
{
	font-style: italic;
}

p.method
{
	border: 1px solid black;
}